.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.task > div {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  height: 81px;
}

footer {
  position: absolute;
  bottom: 0;
}